@import '../../../styles/common.scss';

:root {
  --border: 1px solid rgba(0, 0, 0, 0.2);
  --background-color--gray: #fafafa;
}

.chanyoungMain {
  padding-top: 55px;
  background-color: var(--background-color--gray);

  .i {
    opacity: 0.7;
  }

  .i:hover:not(.fa-camera):not(.fa-search),
  .menu img:hover {
    cursor: pointer;
  }

  input:focus {
    outline: none;
  }

  .username {
    font-weight: bold;
  }

  .userImg {
    border-radius: 50%;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    border: var(--border);
    background-color: white;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    z-index: 1;

    > .ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }

    .title {
      font-size: 20px;
    }

    .search {
      position: relative;
      border: var(--border);

      .fa-search {
        position: absolute;
        top: 4px;
        left: 45px;
        font-size: 10px;
      }

      input {
        border: none;
        background-color: transparent;

        &::placeholder {
          text-align: center;
          background-color: var(--background-color--gray);
          opacity: 0.6;
          font-size: 12px;
        }
      }

      .userContainer {
        position: absolute;
        top: 17px;
        width: 100%;
        height: auto;
        border: var(--border);
        border-top: none;
        background-color: var(--background-color--gray);

        .user {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 5px;
          font-size: 12px;
          font-family: none;

          img {
            width: 22px;
            margin-right: 10px;
          }
        }
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;
      width: 95px;
      opacity: 0.7;

      img {
        width: 20px;
        transition: all 1s ease-out 0.01s;

        &:hover {
          transform: scale(1.5, 1.5);
        }
      }

      .profile {
        position: relative;
      }

      .profileBox {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: auto;
        height: auto;
        padding: 10px;
        border: var(--border);
        background-color: var(--background-color--gray);

        > *:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  main {
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }

  .feeds {
    width: 445px;
    height: auto;
    margin-right: 30px;
    border: var(--border);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      border-bottom: var(--border);

      .user {
        display: flex;
        align-items: center;
        font-size: 12px;

        .img {
          width: 20px;
          margin-right: 15px;
        }
      }
    }

    .bigImg {
      width: 100%;
      height: 420px;
    }

    .main {
      padding: 10px;

      .icons {
        display: flex;
        justify-content: space-between;

        .left svg {
          width: 16px;
          margin-right: 10px;
        }
      }

      .like {
        padding: 10px 0;
        font-size: 12px;

        .userImg {
          width: 10px;
        }

        .count {
          font-weight: bold;
        }
      }
    }

    .comments {
      position: relative;
      margin-bottom: 3px;
      font-size: 12px;

      .content {
        display: flex;
        justify-content: space-between;
      }

      .time {
        padding-bottom: 5px;
        border-bottom: var(--border);
        opacity: 0.5;
        font-size: 12px;
      }
    }

    .form {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;

      .input {
        border: none;
        width: 90%;
        background-color: var(--background-color--gray);
      }

      .submit {
        border: none;
        background-color: var(--background-color--gray);
        color: #d3e8fd;
      }
    }
  }

  .side {
    width: 220px;
    border: none;

    .header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      img {
        width: 50px;
        height: 45px;
        margin-left: 10px;
        margin-right: 15px;
      }
    }

    .headerTitle,
    .storiesUserText,
    .recommendsUserText {
      display: flex;
      flex-direction: column;
      font-size: 12px;
    }

    .headerTitleSub,
    .storiesUserTime,
    .recommendsUserTime {
      font-size: 12px;
      opacity: 0.4;
    }

    .stories,
    .recommends {
      height: 200px;
      padding: 10px;
      margin-bottom: 10px;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      overflow: hidden;
    }

    .storiesHeader,
    .recommendsHeader {
      display: flex;
      justify-content: space-between;
    }

    .storiesHeaderTitle,
    .recommendsHeaderTitle {
      opacity: 0.4;
      font-size: 12px;
    }

    .storiesHeaderAll,
    .recommendsHeaderAll {
      font-size: 12px;
      font-weight: bold;
    }

    .storiesUser,
    .recommendsUser {
      display: flex;
      align-items: center;
      margin: 10px;

      img {
        width: 40px;
        height: 35px;
        margin-right: 15px;
        padding: 1px;
        border: 2px solid red;
      }
    }

    .recommends {
      height: 150px;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    opacity: 0.3;
    font-size: 12px;

    p {
      margin-bottom: 15px;
    }
  }
}
